Weekly project 3: Data cleaning

In [125]:
#First step import usefull library
import pandas as pd
import numpy as np

In [126]:
#Import data using pandas
df=pd.read_excel(r"C:\Users\matui\Downloads\2 -Entrepreneurial competency in university students.xlsx")
df

,EducationSector,Target IndividualProject,Age,Gender,City,Influenced,Perseverance,DesireToTakeInitiative,Competitiveness,SelfReliance,StrongNeedToAchieve,SelfConfidence,GoodPhysicalHealth,MentalDisorder,KeyTraits,ReasonsForLack,Target-ent_competency
0,Engineering Sciences,No,19.0,Male,Yes,No,2.0,2.0,3.0,3.0,2.0,2.0,3.0,Yes,Passion,NaN,1
1,Engineering Sciences,Yes,22.0,Male,No,Yes,3.0,3.0,3.0,4.0,4.0,3.0,4.0,Yes,Vision,Just not interested! (Want to work in the corp...,0
2,Engineering Sciences,No,18.0,Male,Yes,No,3.0,4.0,3.0,3.0,3.0,4.0,4.0,No,Passion,Not willing to start a venture in India and wa...,0
3,Engineering Sciences,Yes,20.0,Male,Yes,Yes,3.0,3.0,3.0,3.0,4.0,3.0,3.0,No,Rrresilience,Not able to take a Financial Risk,0
4,Engineering Sciences,Yes,19.0,Male,Yes,Yes,2.0,3.0,3.0,3.0,4.0,3.0,2.0,Yes,Vision,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Engineering Sciences,Yes,19.0,Male,Yes,Yes,NaN,5.0,4.0,3.0,4.0,4.0,5.0,Yes,Positivity,NaN,1
215,Engineering Sciences,Yes,19.0,Male,Yes,No,2.0,2.0,2.0,2.0,2.0,2.0,2.0,No,Work Ethic,Just not interested! (Want to work in the corp...,0
216,Engineering Sciences,Yes,22.0,Female,Yes,Yes,3.0,4.0,4.0,3.0,4.0,4.0,3.0,No,Vision,NaN,1
217,Engineering Sciences,No,19.0,male,Yes,No,1.0,2.0,2.0,3.0,3.0,2.0,2.0,No,Passion,Lack of Knowledge,0
218,Engineering Sciences,Yes,18.0,Male,unknown,Yes,3.0,5.0,3.0,5.0,5.0,5.0,2.0,No,Passion,NaN,1

In [98]:
#Checking every column data types
df.dtypes

EducationSector               object
Target IndividualProject      object
Age                          float64
Gender                        object
City                          object
Influenced                    object
Perseverance                 float64
DesireToTakeInitiative       float64
Competitiveness              float64
SelfReliance                 float64
StrongNeedToAchieve          float64
SelfConfidence               float64
GoodPhysicalHealth           float64
MentalDisorder                object
KeyTraits                     object
ReasonsForLack                object
Target-ent_competency          int64
dtype: object

In [99]:
#Checking columns names
df.columns

Index(['EducationSector', 'Target IndividualProject ', 'Age', 'Gender', 'City',
       'Influenced', 'Perseverance', 'DesireToTakeInitiative',
       'Competitiveness', 'SelfReliance', 'StrongNeedToAchieve',
       'SelfConfidence', 'GoodPhysicalHealth', 'MentalDisorder', 'KeyTraits',
       'ReasonsForLack', 'Target-ent_competency'],
      dtype='object')

In [100]:
#Checking values in column KeyTraits (we saw with the first df that values might need some cleaning)
df['KeyTraits'].value_counts()

Positivity      73
Passion         61
Work Ethic      39
Vision          35
Resilience       9
Rrresilience     1
passion          1
Name: KeyTraits, dtype: int64

In [101]:
#Replace the misspelled value to the correct version
df.loc[df['KeyTraits'].str.startswith('Rr'), 'KeyTraits'] = 'Resilience'

In [131]:
#Checking missing values
df.isna().sum()

EducationSector               0
Target IndividualProject      0
Age                          14
Gender                        0
City                          0
Influenced                    0
Perseverance                  0
DesireToTakeInitiative        0
Competitiveness               0
SelfReliance                  0
StrongNeedToAchieve           0
SelfConfidence                0
GoodPhysicalHealth            0
MentalDisorder               12
KeyTraits                     0
ReasonsForLack               91
Target-ent_competency         0
dtype: int64

In [112]:
#Checking indicator mean value
df.describe()

,Age,Perseverance,DesireToTakeInitiative,Competitiveness,SelfReliance,StrongNeedToAchieve,SelfConfidence,GoodPhysicalHealth,Target-ent_competency
count,205.000000,202.000000,208.000000,210.000000,197.000000,211.000000,212.000000,212.000000,219.000000
mean,19.756098,3.346535,3.591346,3.571429,3.705584,3.914692,3.566038,3.566038,0.415525
std,1.324366,1.001845,1.163587,1.118416,1.066474,1.033866,1.122952,1.105941,0.493941
min,17.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,19.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,0.000000
50%,20.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,0.000000
75%,20.000000,4.000000,5.000000,4.000000,5.000000,5.000000,4.000000,4.000000,1.000000
max,26.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.000000

In [127]:
#Creating a function that will replace the missing values by the mean
def fill_indicator(column, mean):

        df.loc[(df[column].isnull()), column] = mean

In [128]:
#Creating dictionnary with the pair column : mean
value = {'Perseverance':3,'DesireToTakeInitiative':3,
        'Competitiveness':4, 'SelfReliance':4, 'StrongNeedToAchieve':4,
        'SelfConfidence':3, 'GoodPhysicalHealth':3}

In [129]:
#Loop to use the function fill_indicator with values in the dictionnary
for i in value:
    fill_indicator(i, value[i])