Weekly project 3: Data cleaning

In [1]:
#First step import usefull library
import pandas as pd
import numpy as np

In [3]:
#Import data using pandas
df=pd.read_excel(r"C:\Users\matui\Downloads\2 -Entrepreneurial competency in university students.xlsx")
df

,EducationSector,Target IndividualProject,Age,Gender,City,Influenced,Perseverance,DesireToTakeInitiative,Competitiveness,SelfReliance,StrongNeedToAchieve,SelfConfidence,GoodPhysicalHealth,MentalDisorder,KeyTraits,ReasonsForLack,Target-ent_competency
0,Engineering Sciences,No,19.0,Male,Yes,No,2.0,2.0,3.0,3.0,2.0,2.0,3.0,Yes,Passion,NaN,1
1,Engineering Sciences,Yes,22.0,Male,No,Yes,3.0,3.0,3.0,4.0,4.0,3.0,4.0,Yes,Vision,Just not interested! (Want to work in the corp...,0
2,Engineering Sciences,No,18.0,Male,Yes,No,3.0,4.0,3.0,3.0,3.0,4.0,4.0,No,Passion,Not willing to start a venture in India and wa...,0
3,Engineering Sciences,Yes,20.0,Male,Yes,Yes,3.0,3.0,3.0,3.0,4.0,3.0,3.0,No,Rrresilience,Not able to take a Financial Risk,0
4,Engineering Sciences,Yes,19.0,Male,Yes,Yes,2.0,3.0,3.0,3.0,4.0,3.0,2.0,Yes,Vision,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Engineering Sciences,Yes,19.0,Male,Yes,Yes,NaN,5.0,4.0,3.0,4.0,4.0,5.0,Yes,Positivity,NaN,1
215,Engineering Sciences,Yes,19.0,Male,Yes,No,2.0,2.0,2.0,2.0,2.0,2.0,2.0,No,Work Ethic,Just not interested! (Want to work in the corp...,0
216,Engineering Sciences,Yes,22.0,Female,Yes,Yes,3.0,4.0,4.0,3.0,4.0,4.0,3.0,No,Vision,NaN,1
217,Engineering Sciences,No,19.0,male,Yes,No,1.0,2.0,2.0,3.0,3.0,2.0,2.0,No,Passion,Lack of Knowledge,0
218,Engineering Sciences,Yes,18.0,Male,unknown,Yes,3.0,5.0,3.0,5.0,5.0,5.0,2.0,No,Passion,NaN,1

In [4]:
#Checking every column data types
df.dtypes

EducationSector               object
Target IndividualProject      object
Age                          float64
Gender                        object
City                          object
Influenced                    object
Perseverance                 float64
DesireToTakeInitiative       float64
Competitiveness              float64
SelfReliance                 float64
StrongNeedToAchieve          float64
SelfConfidence               float64
GoodPhysicalHealth           float64
MentalDisorder                object
KeyTraits                     object
ReasonsForLack                object
Target-ent_competency          int64
dtype: object

In [20]:
#Checking columns names
df.columns

Index(['EducationSector', 'Target IndividualProject ', 'Age', 'Gender', 'City',
       'Influenced', 'Perseverance', 'DesireToTakeInitiative',
       'Competitiveness', 'SelfReliance', 'StrongNeedToAchieve',
       'SelfConfidence', 'GoodPhysicalHealth', 'MentalDisorder', 'KeyTraits',
       'ReasonsForLack', 'Target-ent_competency'],
      dtype='object')

In [7]:
#Checking values in column KeyTraits (we saw with the first df that values might need some cleaning)
df['KeyTraits'].value_counts()

Positivity      73
Passion         61
Work Ethic      39
Vision          35
Resilience       9
Rrresilience     1
passion          1
Name: KeyTraits, dtype: int64

In [8]:
#Replace the misspelled value to the correct version
df.loc[df['KeyTraits'].str.startswith('Rr'), 'KeyTraits'] = 'Resilience'

In [28]:
#Checking indicator mean value with a filter on columns: Influenced and Target IndividualProject
#1: No & No
df[(df['Target IndividualProject '] =='No') & (df['Influenced']=='No')].describe()

,Age,Perseverance,DesireToTakeInitiative,Competitiveness,SelfReliance,StrongNeedToAchieve,SelfConfidence,GoodPhysicalHealth,Target-ent_competency
count,27.000000,25.000000,27.000000,27.000000,25.000000,27.000000,27.000000,27.000000,28.000000
mean,19.407407,3.080000,3.370370,3.185185,3.520000,3.740741,3.407407,3.740741,0.107143
std,1.217161,1.320353,1.244933,1.241495,1.194432,0.984206,1.278799,1.129758,0.314970
min,17.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,0.000000
25%,19.000000,2.000000,2.000000,2.500000,3.000000,3.000000,2.000000,3.000000,0.000000
50%,19.000000,3.000000,4.000000,3.000000,3.000000,4.000000,4.000000,4.000000,0.000000
75%,20.000000,4.000000,4.000000,4.000000,5.000000,5.000000,4.500000,5.000000,0.000000
max,22.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.000000

In [29]:
#2: Yes & Yes
df[(df['Target IndividualProject '] =='Yes') & (df['Influenced']=='Yes')].describe()

,Age,Perseverance,DesireToTakeInitiative,Competitiveness,SelfReliance,StrongNeedToAchieve,SelfConfidence,GoodPhysicalHealth,Target-ent_competency
count,80.000000,81.000000,84.000000,84.000000,79.000000,85.000000,86.000000,86.000000,89.000000
mean,20.012500,3.320988,3.785714,3.714286,3.721519,3.941176,3.686047,3.686047,0.528090
std,1.479769,0.933102,1.120149,1.146723,1.049257,0.955597,1.098251,1.140295,0.502039
min,17.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,19.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,0.000000
50%,20.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,1.000000
75%,20.250000,4.000000,5.000000,5.000000,4.000000,5.000000,4.750000,5.000000,1.000000
max,26.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.000000

In [30]:
#3: No & Yes
df[(df['Target IndividualProject '] =='No') & (df['Influenced']=='Yes')].describe()

,Age,Perseverance,DesireToTakeInitiative,Competitiveness,SelfReliance,StrongNeedToAchieve,SelfConfidence,GoodPhysicalHealth,Target-ent_competency
count,63.000000,64.000000,65.000000,65.000000,63.000000,65.000000,65.000000,65.000000,66.000000
mean,19.428571,3.359375,3.476923,3.415385,3.682540,4.076923,3.523077,3.446154,0.439394
std,1.227564,0.932094,1.187272,1.029143,1.089916,1.050412,1.047433,1.104406,0.500117
min,17.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,0.000000
25%,19.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,0.000000
50%,19.000000,3.000000,4.000000,3.000000,4.000000,4.000000,4.000000,3.000000,0.000000
75%,20.000000,4.000000,4.000000,4.000000,5.000000,5.000000,4.000000,4.000000,1.000000
max,23.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.000000

In [31]:
#4: Yes & No
df[(df['Target IndividualProject '] =='Yes') & (df['Influenced']=='No')].describe()

,Age,Perseverance,DesireToTakeInitiative,Competitiveness,SelfReliance,StrongNeedToAchieve,SelfConfidence,GoodPhysicalHealth,Target-ent_competency
count,32.000000,31.000000,32.000000,33.000000,30.000000,33.000000,33.000000,33.000000,33.000000
mean,20.062500,3.548387,3.500000,3.787879,3.866667,3.636364,3.424242,3.303030,0.303030
std,1.045343,0.994609,1.135924,1.023400,0.973204,1.194210,1.199747,0.951474,0.466694
min,18.000000,2.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000,0.000000
25%,19.000000,3.000000,3.000000,3.000000,3.250000,3.000000,2.000000,3.000000,0.000000
50%,20.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,3.000000,0.000000
75%,21.000000,4.000000,4.000000,5.000000,4.750000,5.000000,4.000000,4.000000,1.000000
max,22.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.000000

In [ ]:
def fill_indicator(entry1, entry2, column, mean)


        df[d['Target IndividualProject ']==entry1 & d['Influenced']==entry2, column] = mean